
body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: -webkit-linear-gradient(317deg, #5672d1 0%, #685ec3 26%, #8d35a5 82%);
    background: -moz-linear-gradient(317deg, #5672d1 0%, #685ec3 26%, #8d35a5 82%);
    background: -o-linear-gradient(317deg, #5672d1 0%, #685ec3 26%, #8d35a5 82%);
    background: linear-gradient(47deg, #5672d1 0%, #685ec3 26%, #8d35a5 82%);
    padding-left: 5%;
    padding-right: 2%;
    margin-top: 0;
    
    clear: both;
    }

header {
    margin-top: 10%;
    margin-bottom: 10%;
}

h2 {
    font-size: 2.1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

.paragraphOne {
    margin-bottom: 10%;
}

.sgnUp {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 20px;
    margin-top: 10%;
    font-size: 1em;
    color: white;
    border: none;
    text-decoration: none;
    background: -webkit-linear-gradient(330deg, #98349b 0%, #c94693 25%, #ef558d 78%, #f8bc05 100%);
    background: -moz-linear-gradient(330deg, #98349b 0%, #c94693 25%, #ef558d 78%, #f8bc05 100%);
    background: -o-linear-gradient(330deg, #98349b 0%, #c94693 25%, #ef558d 78%, #f8bc05 100%);
    background: linear-gradient(60deg, #98349b 0%, #c94693 25%, #ef558d 78%, #f8bc05 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lrnMr {
    border: none;
    background: none;
    font-size: 1em;
    color: white;
    text-decoration: none;
    margin-left: 3%;  
}

.two {
    margin-top: 25%;
}

a {
    color: darkorange;
}

ul {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 10%;
    text-align: top;
}

li {
    display: inline-block;
    width: 100%;
    height: 11%;
    border: none;
    background-color: white;
    color: gray;
    margin: 0;
    margin-bottom: 30%;
    padding: 35px;
    border-radius: 6px;
    font-size: 1.8em;
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
}

#left {
    display: inline-block;
    width: 40%;
    position: fixed;
    margin-top: 5%;
    background-size: 100%;
}

.center, .right {
    display: inline-block; 
    width: 29%;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
    animation-duration: 1000s;
    animation-direction: alternate;
    float: right;
    overflow: hidden scroll;
}

.pic {
    border-radius: 50%;
    margin: 2%;
    position: absolute;
    left: 10%;
    bottom: 87%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
    margin-bottom: 10%;
    display: flex;
}

.handle {
    display: inline;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: .7em;
    color: lightgray;
}

.date {
    display: inline;
    margin-left: 20%;
    margin-right: 0;
    padding: 0;
    font-size: .7em;
    color: lightgray;
}

.twitter {
    margin: 0;
    padding: 0;
}

@media (min-width: 100px) and (max-width: 800px) {
    body {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    header {
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    
    h2 {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .paragraphOne {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

.sgnUp {
        margin: 20px;
        display: block;
        text-align: center;
    }

    .lrnMr {
        display: block;
        margin: 0 auto;
    }

    .two {
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20%;
    }

    ul {
        display: block;
        margin: 0 1% 0 10%;
        text-align: center;
    }

    li {
        display: block;
        width: 50%;
    }

    #left {
        display: block;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .center, .right {
        display: inline-block; 
        width: 100%;
       -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
        animation-timing-function: none;
        animation-iteration-count: none;
        animation-duration: none;
        animation-direction: none;
        text-align: center;
        position: relative;
    }

.handle {
    display: inline-block;
    font-size: .5em;
}

.pic {
    border-radius: 50%;
    margin: 2%;
    position: absolute;
    left: 10%;
    bottom: 87%;

}